// Add your custom CSS here.
.product__short-stock {
display: none !important;
}
.product__buy .button {
    color: #ffffff;
    background-color: #5f9903;
    border-color: #5f9903;
    width: 100% !important;
}
.product-card__name {
    min-height: 54.4px;
}
.product-card__prices {
    flex-grow: 0;
}
.product-card__prices > span:not(.prices__compare, .prices__value) {
    display: none;
}
@media (min-width: 768px) {
    .product-card__prices {
        display: block;
        margin-bottom: 0.25rem;
   }
    .product-card .prices__compare, .product-card .prices__value {
        display: inline-block;
   }
    .product-card .prices__value {
        margin-left: 0.25rem;
   }
}
